* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* most browsers default font size is 16px, 62.5% of 16px is 10px so 1rem = 10px */
    font-size: 62.5%; 
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}